#navbar {
	background-color: #661F66;
	color: #FFFFFF;
}

#navbar a{
	color: #FFF;
}

#navbar a:hover {
	color: #661F66;
}

.navbar-hover:hover {
	background-color: #FFF;
}

#introjumbotron {
	background: url(../img/intro.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	color: #FFFFFF;
}

#searchjumbotron {
	background-color: #661F66;
	color: #FFFFFF;
	text-align: center;
	padding: 50px 0 100px 0;
}

#professorjumbotron {
	background-color: #661F66;
	color: #FFFFFF;
	padding: 20px 0 20px 0;
}

#radiogroup {
	padding-top: 15px;
}

#searchjumbotronsmall {
	background-color: #661F66;
	color: #FFFFFF;
	padding: 20px 0 30px 10px;
	margin-bottom: 0;
}

#essayjumbotronsmall {
	background-color: #661F66;
	color: #FFFFFF;
	padding: 10px 0 30px 0;
	margin-bottom: 10px;
}

#commentjumbotron {
	margin-top: 10px;
	background-color: #EEE;
}

#essaybody{
	background-color: #FFF;
	padding-bottom: 20px;
}

.form-controlctm {
	margin-top: 8px;
	border-radius: 0;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
	        box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
	border: 0;
	width: 450px;
}

#title, #author, #keyword, #number, #author2 {
	width: 450px;
}

#author, #keyword, #number, #author2, .dategroup{
	display: block;
}

#dategroup {
	
}

#date1, #date2 {
	width: 385px;
}

.btnctm {
	margin-top: 8px;
	border: 0;
	border-radius: 0;
	background-color: #4B4;
	color: #FFF;
	height: 34px;
	line-height: 23px;
	width: 90px;
}

.btnctm:focus,
.btnctm.focus
 {
  outline: 20px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  color: #FFF;
}

.btnjump {
	background-color: #661F66;
	margin: 0;
	width: auto;
}

.btnpurchase {
	background-color: #EE7621;
	margin: 0;
	width: auto;
}

.btndownload {
	margin: 0;
	width: auto;
}

.btnfalse {
	margin-top: 8px;
	border: 0;
	border-radius: 0;
	background-color: #4B4;
	color: #FFF;
	height: 34px;
	line-height: 23px;
	width: 90px;
}

.btntrue {
	margin-top: 8px;
	border: 0;
	border-radius: 0;
	background-color: #EE7621;
	color: #FFF;
	height: 34px;
	line-height: 23px;
	width: 90px;
}

#btn {
	background-color: #EE7621;
}

#btn:disabled {
	background-color: #BBB;
}

#btn:disabled:hover {
	background-color: #BBB;
	color: #FFF;
}

#btn:hover {
	background-color: #FFF;
	color: #661F66;
}

#btn2 {
	float:right;
	background-color: #661F66;
	display: inline-block;
	margin-top: 10px;
	width: auto;
}

#btn2:hover {
	background-color: #FFF;
}

#textareactm {
	border-radius: 0;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
	        box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
}

#pagerlist {
	display: inline;
}

.btnctm:hover,
.btntrue:hover, 
.btnfalse:hover {
	background-color: #FFF;
	color: #661F66;
}

.btnctm:active {
	outline: 0;
}

.resultlist {
	margin: 0 0 0 0;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.momentlist {
	padding-top: 10px;
}

.momentlist2 {
	padding: 15px 0;
}

.professorlist {
	padding-top: 5px;
}

.commentlist {
	padding: 5px 0 5px 0;
}

.commentlist h5 {
	font-weight: bold;
}

.resultlist:hover {
	background-color: #F8F8F8;
}

a {
	color: #2149FF;
}

a:hover {
	color: #5179FF;
	text-decoration: none;
}

.filter {
	padding-top: 5px;
	padding-bottom:5px;
	padding-left:10px;
}

.filter a {
	color: #666;
}

.filterselected {
	background-color: #F8F8F8;
}

.filterselected a {
	color: #661F66;
}

.patent h2,
.patent h3 {
	padding-top: 30px;
}

.patent p {
	padding-top:10px;
}

.paginationctm >.active>a,
.paginationctm >.active>a:hover,
.paginationctm >.active>span,
.paginationctm >.active>span:hover{
	background-color: #661F66;
	border-color: #661F66;
}

.paginationctm >li>a,
.paginationctm >li>a:hover,
.paginationctm >li>span:hover,
.paginationctm >li>span{
	color: #661F66;
}

.star-rating { 
  font-family: 'FontAwesome'; 
  margin-top: 10px;
} 
.star-rating { 
  border: none; 
  display: inline-block; 
} 
.star-rating > input { 
  position: absolute; 
  top: -9999px; 
  clip: rect(0, 0, 0, 0); 
} 
.star-rating > label { 
  float: right; 
  width: 1em; 
  padding: 0 .05em; 
  overflow: hidden; 
  white-space: nowrap; 
  cursor: pointer; 
  font-size: 200%; 
  color: #661F66; 
} 
.star-rating > label:before { 
  content: '\f006  '; 
} 
.star-rating > label:hover, 
.star-rating > label:hover ~ label { 
  color: #661F66;  
} 
.star-rating > label:hover:before, 
.star-rating > label:hover ~ label:before { 
  content: '\f005  '; 
} 
.star-rating > input:checked ~ label:before { 
  content: '\f005  '; 
} 
.star-rating > label:active { 
  position: relative; 
  top: 2px; 
}
